Web.Cine.ProyectoS73/Service References/CatalogoServicesClient/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Servicios.CnS73" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Datos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicios.CnS73" minOccurs="0" name="DatosResult" nillable="true" type="q1:ArrayOfCatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTipoPelicula">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTipoPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicios.CnS73" minOccurs="0" name="ConsultarTipoPeliculaResult" nillable="true" type="q2:ArrayOfTipoPelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSala">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicios.CnS73" minOccurs="0" name="ConsultarSalaResult" nillable="true" type="q3:ArrayOfSalas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicios.CnS73" minOccurs="0" name="NuevaPelicula" nillable="true" type="q4:Catalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IngresarPeliculaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saludar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="saludarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Servicios.CnS73" minOccurs="0" name="ConsultarCineResult" nillable="true" type="q5:ArrayOfCine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CatalogoPorIdPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPelicula" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CatalogoPorIdPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Servicios.CnS73" minOccurs="0" name="CatalogoPorIdPeliculaResult" nillable="true" type="q6:ArrayOfCatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngrsarVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Servicios.CnS73" minOccurs="0" name="Datos" nillable="true" type="q7:Ventas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngrsarVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IngrsarVentasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTablaCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroEntradas" type="xs:int" />
        <xs:element minOccurs="0" name="idPelicula" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTablaCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarTablaCatalogoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>