Web.Cine.ProyectoS73/Service References/CatalogoServicesClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CcatalogoProyecto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Servicios.CnS73" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICatalogoProyecto_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_Datos_InputMessage">
    <wsdl:part name="parameters" element="tns:Datos" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_Datos_OutputMessage">
    <wsdl:part name="parameters" element="tns:DatosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_ConsultarTipoPelicula_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTipoPelicula" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_ConsultarTipoPelicula_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTipoPeliculaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_ConsultarSala_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSala" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_ConsultarSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSalaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_IngresarPelicula_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarPelicula" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_IngresarPelicula_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarPeliculaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_saludar_InputMessage">
    <wsdl:part name="parameters" element="tns:saludar" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_saludar_OutputMessage">
    <wsdl:part name="parameters" element="tns:saludarResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_ConsultarCine_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCine" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_ConsultarCine_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCineResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_CatalogoPorIdPelicula_InputMessage">
    <wsdl:part name="parameters" element="tns:CatalogoPorIdPelicula" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_CatalogoPorIdPelicula_OutputMessage">
    <wsdl:part name="parameters" element="tns:CatalogoPorIdPeliculaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_IngrsarVentas_InputMessage">
    <wsdl:part name="parameters" element="tns:IngrsarVentas" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_IngrsarVentas_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngrsarVentasResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_ActualizarTablaCatalogo_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTablaCatalogo" />
  </wsdl:message>
  <wsdl:message name="ICatalogoProyecto_ActualizarTablaCatalogo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTablaCatalogoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICatalogoProyecto">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogoProyecto/GetData" message="tns:ICatalogoProyecto_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogoProyecto/GetDataResponse" message="tns:ICatalogoProyecto_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Datos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogoProyecto/Datos" message="tns:ICatalogoProyecto_Datos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogoProyecto/DatosResponse" message="tns:ICatalogoProyecto_Datos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTipoPelicula">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogoProyecto/ConsultarTipoPelicula" message="tns:ICatalogoProyecto_ConsultarTipoPelicula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogoProyecto/ConsultarTipoPeliculaResponse" message="tns:ICatalogoProyecto_ConsultarTipoPelicula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSala">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogoProyecto/ConsultarSala" message="tns:ICatalogoProyecto_ConsultarSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogoProyecto/ConsultarSalaResponse" message="tns:ICatalogoProyecto_ConsultarSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarPelicula">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogoProyecto/IngresarPelicula" message="tns:ICatalogoProyecto_IngresarPelicula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogoProyecto/IngresarPeliculaResponse" message="tns:ICatalogoProyecto_IngresarPelicula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saludar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogoProyecto/saludar" message="tns:ICatalogoProyecto_saludar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogoProyecto/saludarResponse" message="tns:ICatalogoProyecto_saludar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCine">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogoProyecto/ConsultarCine" message="tns:ICatalogoProyecto_ConsultarCine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogoProyecto/ConsultarCineResponse" message="tns:ICatalogoProyecto_ConsultarCine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CatalogoPorIdPelicula">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogoProyecto/CatalogoPorIdPelicula" message="tns:ICatalogoProyecto_CatalogoPorIdPelicula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogoProyecto/CatalogoPorIdPeliculaResponse" message="tns:ICatalogoProyecto_CatalogoPorIdPelicula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngrsarVentas">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogoProyecto/IngrsarVentas" message="tns:ICatalogoProyecto_IngrsarVentas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogoProyecto/IngrsarVentasResponse" message="tns:ICatalogoProyecto_IngrsarVentas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarTablaCatalogo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogoProyecto/ActualizarTablaCatalogo" message="tns:ICatalogoProyecto_ActualizarTablaCatalogo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogoProyecto/ActualizarTablaCatalogoResponse" message="tns:ICatalogoProyecto_ActualizarTablaCatalogo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICatalogoProyecto" type="tns:ICatalogoProyecto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ICatalogoProyecto/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Datos">
      <soap:operation soapAction="http://tempuri.org/ICatalogoProyecto/Datos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTipoPelicula">
      <soap:operation soapAction="http://tempuri.org/ICatalogoProyecto/ConsultarTipoPelicula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSala">
      <soap:operation soapAction="http://tempuri.org/ICatalogoProyecto/ConsultarSala" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarPelicula">
      <soap:operation soapAction="http://tempuri.org/ICatalogoProyecto/IngresarPelicula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saludar">
      <soap:operation soapAction="http://tempuri.org/ICatalogoProyecto/saludar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCine">
      <soap:operation soapAction="http://tempuri.org/ICatalogoProyecto/ConsultarCine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CatalogoPorIdPelicula">
      <soap:operation soapAction="http://tempuri.org/ICatalogoProyecto/CatalogoPorIdPelicula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngrsarVentas">
      <soap:operation soapAction="http://tempuri.org/ICatalogoProyecto/IngrsarVentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTablaCatalogo">
      <soap:operation soapAction="http://tempuri.org/ICatalogoProyecto/ActualizarTablaCatalogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CcatalogoProyecto">
    <wsdl:port name="BasicHttpBinding_ICatalogoProyecto" binding="tns:BasicHttpBinding_ICatalogoProyecto">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Servicios.CnS73/CcatalogoProyecto/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>